<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-9" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Adventure Notes - {{campaign-name}}</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>

<body>
	<div class="p-2 bg-blue-200">
		<h1 class="text-white text-xl">Dana's Adventure Notes App</h1>
	</div>

	<div class="p-2 flex flex-row">
		<div class="basis-3/4 mr-4">
			<h1 class="text-lg text-semibold border-b-2 border-blue-800 mb-2">{{campaign-name}}</h1>

			<div class="text-lg flex flex-row">
				<div class="flex flex-row">
				{{#has-prev-link}}
					<a class="text-semibold text-blue-600 text-xl" href="/scenes/{{prev-id}}">&#171;</a>
				{{/has-prev-link}}
				{{^has-prev-link}}
					<span class="text-gray-300 text-xl">&#171;</span>
				{{/has-prev-link}}
				</div>

				<div class="flex flex-row px-4">
				{{scene-title}} <button><img class="object-scale-down h-5 w-4 pl-1" src="/images/edit-icon.svg" alt="edit icon"/></button>
				</div>

				<div class="flex flex-row">
				{{#has-next-link}}
					<a class="text-semibold text-blue-600" href="/scenes/{{next-id}}">&#187;</a>
				{{/has-next-link}}
				{{^has-next-link}}
					<span class="text-gray-300 text-xl">&#187;</span>
				{{/has-next-link}}
				</div>
			</div>
			<div class="flex flex-row py-2 px-4">
				<div class="basis-3/4 mr-2">
					{{scene-body}}
				</div>
				<div class="basis-1/4">
					<textarea class="
						w-full px-3 py-1.5 text-sm text-left
						font-normal text-gray-400 bg-white 
						border border-solid border-gray-300 rounded
						transition ease-in-out m-0 h-96
						focus:text-gray-600 focus:bg-white focus:border-blue-600 
						focus:outline-none">{{quick-notes}}</textarea>
				</div>
			</div>

		</div class="basis-1/4">
		<div>
			Side column
			<br/><br/></br>
			stuff
		</div>
	</div>
</body>

</html>
